@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.main{
  width: 600px;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #151920;
  border-radius: 25px;

}
.card{
  width: 100%;
  height: 100%;
  /* padding: 20px; */

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  gap: 25px;
  
}
.one{
  width: 40%;
  height: 100%;
  /* background-color: black; */
  padding: 10px 20px;
  box-sizing: border-box;

}

.one img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.two{
  width: 50%;
  height: 100%;
box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  box-sizing: border-box;
  
  
}
.threeImg{
  position: relative;
}
.threeImg img{
  float: right;
  margin-top: 0px;
  
}
.description {
  font-size: clamp(13px, 5vw, 17px);
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
}

.fourImg{
  margin-top: 0px;
  margin-bottom: 0px;
}
.five{
 display: flex;
 flex-direction: row;
 box-sizing: border-box;
 /* justify-content: space-around; */
 align-items: center;
 gap: 10px;
}
.five img{
  width: 20%;
  float: left;
}
.title {
  font-size: clamp(20px, 5vw, 28px);
  font-family: 'Julius Sans One','Poppins','Roboto',sans-serif;
  margin-top: 5px;
  color: #FC7000;
}

@media (max-width: 768px) {
  .five{
    margin-top: 10px;
  }
 .main{
  box-sizing: border-box;
  width: 80%;

  
 }
}


















