.thanksSection {
  background: var(--bg);
  color: var(--text);
  padding: 100px 20px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
  color: azure;
}

.message {
  font-size: 18px;
  color: var(--muted);
  margin-bottom: 30px;
}

.homeBtn {
  background: var(--primary);
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.homeBtn:hover {
  background: #ff7f16;
}
